body {
}
#pascal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.elem {
    height: 30px;
    width: 30px;
    color: fuchsia;
}
